{% extends "main.html" %}
{% block tabs %}
{{ super() }}
<section class="home-container">
<div class="md-grid md-typeset">
  <div class="home-hero">
    <div class="home-hero-content"> 
      <img style="float:right;width:150px" src="https://medsci-sites.inria.fr/cai/wp-content/uploads/sites/3/2020/04/Under-construction.png"/>
      <h1>Portail des formations NSI</h1>
      <p>Bienvenue dans l'espace de formation pour l'apprentissage de l'informatique.</p> 
      <p>Nous sommes en construction jusqu'à la rentrée 2021 mais travaillons de manière communautaire : bienvenue !</p>
      <img style="margin:5px auto;width:70%" src="https://medsci-sites.inria.fr/cai/wp-content/uploads/sites/3/2021/04/mooc-snt_nsi_capes.png"/>
    </div>
  </div>
</div>
</section>
{% endblock %}
{% block content %}
{% endblock %}
